<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Portfolio Backend Server</title>
</head>

<body style="background-color: black; text-align: center;">
    <div class="text">
        <h1 style="color: gold;">Server Is Up and Running</h1>
        <h2 style="color: gray;">Connect via <span class="frontend">Git Portfolio Frontend</span></h2>
        <a href="https://git-portfolio-frontend.vercel.app" style="color: white;">Click here to open to Frontend!!!!!</a>
    </div>
</body>

</html>